<hr>
<!--<p>Date: {{ thing.Date }}</p>
<p>C: {{ thing.TemperatureC }}</p>
<p>F: {{ thing.TemperatureF }}</p>
<p>Summary: {{ thing.Summary }}</p>-->

<form (ngSubmit)="btnSave(f)" #f="ngForm">

  <div class="row">

    <div class="col-sm-5 form-group">
      <label for="date">Date</label>
      <input type="text" id="date"  class="form-control" name="date" ngModel required>
      <!--<span>valid: {{ f.date.valid }}  touched: {{ f.date.touched }} </span>-->
    </div>
  
    <div class="col-sm-5 form-group">
      <label for="C">C</label>
      <input type="number" id="C"  class="form-control" name="temperatureC" ngModel required pattern="^[1-9]+[0-9]*$">
      <!--<span>valid: {{ f.temperatureC.valid }}  touched: {{ f.temperatureC.touched }}</span>-->
    </div>
  
    <div class="col-sm-5 form-group">
      <label for="F">F</label>
      <input type="number" id="F"  class="form-control" name="temperatureF" ngModel readonly>
    </div>
  
  </div>

  <div class="row">
    <div class="col-sm-5 form-group">
      <label for="summary">Summary</label>
      <input type="textarea" rows="3" id="summary"  class="form-control" name="summary" ngModel required>
      <!--<span>valid: {{ f.summary.valid }}  touched: {{ f.summary.touched }}</span>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" type="submit" [disabled]="!f.touched || !f.valid ">{{ (thing.id==0) ? 'Add' : 'Update'}}</button>
      <button  class="btn btn-danger" type="button" (click)="btnDelete()" [disabled]="thing.id===0">Delete</button>
      <button class="btn btn-primary" type="button" (click)="btnReset()" [disabled]="!f.touched">Clear</button>
    </div>
  </div>

  <span>id: {{ thing.id }}   valid: {{ f.valid }}  touched: {{ f.touched }} </span>

</form>
